/* Google font style */

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
margin: 0;
box-sizing: border;}


/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

/* Header */
header {
    background-color: aqua;
}
h1 {
    font-family: 'Whisper', sans-serif ;
    
}

/* Main Content */
main {
    background-color: beige;
    /* Make main elememt take up any suplas space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}