
/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}
h1 {
    font-family: 'Whisper', sans-serif ;
   letter-spacing: 2px;
    color: #252525;
    
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 8px 8px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}
#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with toggle dropdown */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1em;
    box-shadow: 0 8px 8px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 1rem;
}


/* Main Content */
main {
    /* Make main elememt take up any suplas space to push footer down */
    flex: 1 0 auto;
    margin-top: 46px;
    display: flex;
    flex-direction: column;
}
.hidden-heading {
    display: none;
}
/* Hero section */
.video-banner {
    position: relative;
}
video {
    width: 100%;
}
.cover-text {
    position: absolute;
    background-color: rgba(245, 245, 220, .6);
    top: 70px;
    
}
#reasons {
    background-color: beige;
    width: 90%;
    margin: 20px auto; 
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}
#benefits-training>div {
    line-height: 20px;
    margin-bottom: 20px;
}
#benefits p {
    padding: 0 20px;
}
hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}
#circle-cover-bg {
    background: url('../images/pexels-christian-fridell-3417441.jpg') no-repeat top center/cover;
    margin-bottom: 20px;
    height: 90vw;
    width: 90vw;
    border-radius: 50%;
    max-width: 420px;
    max-height: 420px;
}
#cocktail-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Recipes Section */

#recipe-section {
    background-color: beige;
    width: 90%;
    margin: 20px auto;
}

#recipes-image {
    display: flex;
    justify-content: space-around;
    
}


/* Image Overlay */
.container {
    position: relative;
    width: 80%;
    max-width: 300px;
}
.image {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 130px;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 90%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 9px;
    padding: 18%;
    text-align: center;
}
.container:hover .overlay {
    opacity: 1;
}
ul {
    list-style-type: none;
}

/* DELETE */

#dropdown {
    display: flex;
    justify-content: space-evenly;

}
.recipebtn {
    background-color: #252525;
    color: white;
    padding: 10px;
    font-size: 8px;
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3a3a3a;
    min-width: 50px;
    z-index: 1;
    border: 2px solid #252525;
}
.dropdown-content li {
    color: #ffffff;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {display: block;}

  #espresso-dd {
    text-decoration: underline;
  }
  #margarita-dd {
    text-decoration: underline;
  }
  #negroni-dd {
    text-decoration: underline;
  }

/* Gallery */
#photos img {
    width: 100%;
    line-height: 1em;
    height: 100%;
}
#photos {
    line-height: 0;
    column-count: 1;
}
/* Sign Up page */
#signup {
    background-image: url('../images/pexels-cottonbro-studio-4667135.jpg');
    background-size: cover;
    background-position: 25%;
    padding: 40px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, .6);
    padding: 20px;
}
#signup-form > h2 {
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #ffffff;
    border: 1px solid #fafafa;
    border-radius: 2px;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    padding: 0 5px;
}
#radio-buttons {
    display: block;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 20px 0;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    background-color: beige;
    color: #3a3a3a;
    font-size: 100%;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
/* Media Query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px){
    #photos {
        column-count: 2;
        column-gap: 0;
    }

.image {
    height: 280px;
}
.overlay {
    font-size: 18px;
    
}
}


/* Media Query: tablets and lerger (768px and more) */

@media  screen and (min-width: 768px) {
    /* Header */
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    

    /* Main Content */
    main{
        margin-top: 80px;
    }
    /* Hero */
    .cover-text {
        width: 380px;
        font-size: 200%;
        right: 60px;
        top: 140px;
        
    }

/* Recipe Section */
img {
    width: 120px;
    height: 150px;
}

/* Gallery */
/* Column-count: 3 here breaks column count for all pages??? */
/* Sign up Page */
#signup {
    background-position: center;
    position: relative;
}
#signup-form {
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 50px;
}

.text-input:hover {
    border-color: #f16c6b;
}
.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}
}


/* Media Query: laptops and higher (992px and more) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
    /* Hero */
    .cover-text {
        width: 50%;
        font-size: 300%;
        right: 60px;
        
    }
    /* Recipe Section */
    
    img {
        width: 150px;
        height: 180px;
    }
   /* Gallery */
   #photos {
    column-count: 3;
    
}
/* Image Overlay */

.image {
    height: 350px;
}
.overlay {
    padding-top: 20%;
    
}



    
}

@media screen and (min-width: 1200px) {
    /* Reasons section */
    #benefits-training {
        display: flex;
        flex-direction: row;
        font-size: xx-large;
        letter-spacing: 2px;
        line-height: 6pt;
    }
    #benefits-training > div {
        flex: 1;
        line-height: 100%;
    }
    #cocktail-image {
        flex: 0;
    }
    #benefits-section-one {
        order: 1;
        line-height: 6pt;
        
    }
    #benefits-section-one > div {
        align-self: flex-start;
        line-height: 100%;
        
    }
    #benefits-section-two {
        align-self: flex-end;
        
    }
    /* Recipe Section */
    img {
        width: 400px;
        height: 550px;
    }
    .recipebtn {
        font-size: xx-large;
    }
    #dropdown {
        font-size: large;
    }
    /* Gallery */
    #photos {
        column-count: 4;
        
}

}
